<%include pe%>

<div class="mt-5"><h1 class="pt-5">Irl Community</h1></div>
 
 <div class="row">
 	<button class=" offset-3 col-sm-3 btn btn-light btn-lg px-1"><a href="/createUser">Start</a></button>
 </div>


<%include pf%>