<html>
<head>
	<title>Irl Community</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/public/ajax.js"></script>
   <link rel="stylesheet"  href="/public/Style-flux.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
	<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand " href="/">IrlC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/dels/session">del session</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<div  class="container mt-5">
  
  